<div class="clearfix mt0 mb0 comment-block relative" data-comment-author="<%= comment.user.username %>">
  <div class="col col-1 left avatar">
    <%= avatar_for(comment.user, 'small') %>
  </div>
  <div class="col col-11">
    <h4 class="mt0 mb0 username">
      <%= link_to comment.user, class: "" do 
        '@' + comment.user.username
      end%>
      <span class="posted"> · <%= time_ago_in_words(comment.created_at) %> ago</span>
    </h4>
      <p class="light-gray caption regular mt0 mb1"><%= comment.user.occupation %></p>
      <%= comment.cached_content.html_safe %>
    <div class="clearfix replies-header mb3">
      <button class="button js-reply">Reply</button>
    </div>
    <div class="replies-block mt2">
      <div class="reply-form">
        <% if comment.parent_id? %>
          <%= render partial: 'comments/form', locals: {comment: Comment.new, parent: Comment.find(comment.parent_id)} %>
        <% else %>
          <%= render partial: 'comments/form', locals: {comment: Comment.new, parent: comment} %>
        <% end %>
      </div>
      <%= render partial: 'comments/comment', collection: comment.children unless comment.parent_id? %>
    </div>
  </div>
</div>
