<div class="clearfix">
  <div class="left mr2">
    <%= render partial: 'avatars/avatar', locals: {user: comment.user} %>
  </div>
  <div class="overflow-hidden">
    <h5 class="mt0 mb0">
      <%= comment.user.name %>
      <span class="light-gray regular ml1"><%= comment.user.occupation %></span>
    </h5>
    <%= comment.content %>

    <div class="h6 mt1 light-gray">
      <%= time_ago_in_words(comment.created_at) %> ago
    </div>
  </div>
</div>