<% if can? :create, comment %>
  <%= form_for [@game, comment], html: {class: 'comment-form form clearfix mb2'} do |f| %>
    <div class="clearfix">
      <div class="left mr2">
        <%= avatar_for(current_user, 'small') %>
      </div>
      <div class="overflow-hidden">
        <%= f.hidden_field :parent_id, value: parent.id if parent %>
        <%= f.text_area :content, class: 'field-light block full-width mb2 mention', rows: 2 %>
      </div>
    </div>

    <div class="right right-align">
      <%= f.button 'Comment', class: 'button-blue' %>
    </div>
  <% end %>
<% end %>
