<%= form_for([:admin, game]) do |f| %>
  <% if game.errors.any? %>
    <div id="form_errors">
      <h2>Errors while saving:</h2>
      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb3">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'field-light block full-width' %>
  </div>

  <div class="mb3">
    <%= f.label :link, 'URL' %><br>
    <%= f.text_field :link, class: 'field-light block full-width' %>
  </div>

  <div class="mb3">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'field-light block full-width', rows: 2 %>
  </div>

  <div class="mb3">
    <%= f.label :extended_description %><br>
    <%= f.text_area :extended_description, class: 'field-light block full-width', rows: 2 %>
  </div>

  <div class="clearfix mb3 mxn2">
    <div class="col col-6 px2">
      <%= f.label :thumbnail %><br>
      <%= f.file_field :thumbnail %>
    </div>
  </div>

  <div class="mb3">
    <%= f.label :game_developer %><br>
    <%= f.select :game_developer_id, @game_developers, include_blank: true %>
  </div>

  <fieldset class="mb3 game_platforms">
    <legend>Platforms</legend>
    <%= f.fields_for :game_platforms do |game_platforms| %>
      <%= render 'game_platform_fields', f: game_platforms %>
    <% end %>
  </fieldset>

  <div class="mb3">
    <%= link_to_add_association(
      'Add platform',
      f, :game_platforms,
      class: 'light-gray',
      data: {
        association_insertion_node: '.game_platforms',
        association_insertion_method: 'append'
      }
    ) %>
  </div>

  <div class="right-align">
    <%= f.button 'Submit Game', class: 'button-blue' %>
  </div>
<% end %>
