<%= render 'ui/navbar' %>

<div class="container py3">

  <table class="table-light">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th>Platform</th>
        <th>Votes</th>
        <th>Scheduled</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><a class="light-gray" href="<%= edit_admin_game_path(game) %>"><%= icon('pencil') %></a></td>
          <td>
            <%= link_to game.title, game %>
            <p class="mid-gray mb0"><%= game.link %></p>
          </td>
          <td><%= game.platform_list.join(", ") %></td>
          <td>up: <%= game.cached_votes_up %> / down: <%= game.cached_votes_down %></td>
          <td>
            <% if game.scheduled_at? %>
              <%= format_date(game.scheduled_at) %>
            <% else %>
              <%= form_for(game, url: [:admin, game]) do |f| %>
                <%= f.date_field :scheduled_at, min: Date.today, value: Date.today, class: 'field-light py1 mb0' %>
                <%= f.button 'Save', class: 'button-blue-outline' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to [:admin, game], method: :delete, class: 'red' do %>
             <%= icon 'flag' %>
            <% end %>
          </td>
       </tr>
      <% end %>
    </tbody>
  </table>
</div>
