<div class="clearfix game-block">

<div class="bg-white col clearfix relative game">
  <div class="col column info">

    <h4 class="mt0">
      <a class="dark-gray title" href="<%= game_path(game) %>"><%= game.title %></a>
    </h4>
    <p class="mb0 caption"><%= truncate(game.description, length: 120) %></p>

    <footer class="game-meta col-7">        
        <ul class="list-reset platform-list">
            <% game.platform_list.each do |platform| %>
              <li><%= platform %></li>
            <% end %>
          </ul>

      <div class="clearfix game-posted">
        <div class="left">
          <p class="mb0 posted">POSTED</p>
          <p>@<%= game.user.username %></p>
        </div>
        <div class="left ml1">
          <%= avatar_for(game.user, 'small') %>
        </div>

      </div>
    </footer>

    



  </div>

  <div class="col image" style="background-image:url(<%= image_path(game.thumbnail) %>);background-size:cover;background-position:center;height:10em"></div>

</div>

</div>