<div id="add-email" class="container">
  <h1>Add Email</h1>
  <%= form_for(@user, :as => 'user', :url => finish_signup_path(@user), :html => { role: 'form'}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :email %>
      <div class="controls">
        <% if @user.email %>
          <%= f.text_field :email, :autofocus => true, :value => @user.email, class: '' %>
        <% else %>
          <%= f.text_field :email, :autofocus => true, :value => '', class: '', placeholder: 'Example: email@me.com' %>
        <% end %>

        <p class="help-block">Please confirm your email address. No spam.</p>
      </div>

    <div class="form-group">
      <div class="controls">
        <%= f.check_box :receive_newsletter %> Signup For Our Newsletter
        <p class="help-block">Get new games in your inbox every week. Unsubscribe at any time.</p>
      </div>

      <div class="form-group">
        <%= f.label :occupation %>
        <div class="controls">
          <%= f.text_field :occupation, :value => @user.occupation, class: '', placeholder: 'Occupation' %>
        </div>
    </div>
    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <!-- Added for pure building convenience, probably shouldn't be here -->
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
