<div class="rounded highlight-hover bg-white">

  <div class="clearfix p2">
    <div class="left mr2">
      <%= render partial: 'upvotes/upvote', locals: { game: game } %>
    </div>

    <div class="right ml2 py1 light-gray">
      <div class="clearfix mxn1">
        <div class="left px1">
          <%= game.platform %>
        </div>
        <div class="left px1">
          <%= icon('comment') %> <%= game.comments_count %>
        </div>
        <div class="left px1">
          <%= avatar(user: game.user) %>
        </div>
      </div>
    </div>
  </div>

  <img class="block" src="http://placekitten.com/g/325/200" />

  <div class="p2">
    <h4 class="mt0 mb0">
      <a class="dark-gray" href="<%= game_path(game) %>"><%= game.title %></a>
    </h4>
    <p class="mid-gray mb0" style="min-height:4.5rem"><%= truncate(game.description, length: 100) %></p>
  </div>

</div>
