<div class="col-2 table-cell">
  <%= render partial: 'upvotes/upvote', locals: { game: game } %>
</div>

<div class="rounded bg-white relative col col-10 clearfix">

  <div class="col col-4 p2">

    <h4 class="mt0">
      <a class="dark-gray" href="<%= game_path(game) %>"><%= game.title %></a>
    </h4>
    <p class="mb0 dark-gray"><%= truncate(game.description, length: 100) %></p>

    <footer class="clearfix mt4 game-meta">

      <p class="left mb0"><%= game.platform %></p>

          <div class="right light-gray mb0">
            <%= icon('comment') %> <%= game.comments_count %>
          </div>

    </footer>

  </div>

  <div class="bg-mid-gray col col-8" style="background-image:url(<%= image_path(game.thumbnail) %>);background-size:cover;background-position:0 0;height:14em"></div>

</div>


