<%= render 'ui/navbar' %>

<div class="show-block bg-white">

  <div class="relative">
      <div class="imageblur" style="background-image:url(<%= @game.thumbnail %>);background-size:cover;"></div>
      <div class="bglayer"></div>
      <div class="p3 clearfix relative sb-gameinfo container sb-bg">

          <h3 class="mt0 mb0 sb-title">
            <a class="white" href="<%= @game.link %>" target="_blank"><%= @game.title %></a>
          </h3>

          <p class="col-9"><%= @game.description %></p>

          <%= render partial: 'upvotes/upvote', locals: { game: @game } %>
          <a href="<%= @game.link %>" target="_blank"><%= icon 'link' %> <%= @game.link %></a>

          <ul class="list-reset sb-platforms">
            <% @game.platform_list.each do |platform| %>
              <li><%= platform %>
            <% end %>
          </ul>

            <div class="sb-avatar clearfix">
              <div class="left">
                <p class="mb0">POSTED</p>
                <p class="mb0"><%= time_ago_in_words(@game.created_at) %> ago</p>
              </div>
              <div class="left mr1">
                <%= avatar(user: @game.user) %>
              </div>

            </div>

      </div>
  </div>

  <div class="container">

    <% if @game.cached_votes_up > 0 %>
        <h5 class="small-header mb2 mt2"><%= pluralize @game.cached_votes_up, 'upvote' %></h5>
        <ul class="list-reset clearfix mxn1" style="margin-top:-.5rem;margin-bottom:-.5rem">
          <% @game.votes_for.up.each do |vote| %>
            <li class="left p1">
              <%= avatar(user: vote.voter) %>
            </li>
          <% end %>
        </ul>
    <% end %>

    <hr>


    <div class="clearfix">

        <div class="col col-9 mb4">
          <h5 class="small-header mb2"><%= pluralize @game.comments_count, 'comment' %></h5>


          <% if can? :create, @comment %>
            <%= form_for [@game, @comment], html: {class: 'form clearfix mb2'} do |f| %>
              <div class="clearfix">
                <div class="left mr2">
                  <%= avatar(user: current_user) %>
                </div>
                <div class="overflow-hidden">
                  <%= f.text_area :content, class: 'field-light block full-width mb2', rows: 2 %>
                </div>
              </div>

              <div class="right right-align">
                <%= f.button 'Comment', class: 'button-blue' %>
              </div>
            <% end %>
          <% end %>
          <% @game.comments.each do |comment| %>
            <div class="mb3 mt3">
              <%= render partial: 'comments/comment', locals: {comment: comment} %>
            </div>
          <% end %>
        </div>

    </div>

  </div>

</div>

<% if @related_games.any? %>

<div class="bg-black related-games">
  <h3 class="rg-header py1">More Games</h3>
  <div class="rg-block clearfix container">
    <% @related_games.each do |related_game| %>
      <div class="col col-4 px3 relative">
        <a class="rg-link" href="<%= game_path(related_game) %>">
          <img class="rg-thumbnail" src="<%= related_game.thumbnail %>">
          <p class="rg-title col-12"><%= related_game.title %>  <span class="right rg-votes">▲ <%= related_game.cached_votes_up %></span></p>
        </a>
      </div>
    <% end %>
  </div>
</div>

<% end %>
