<div class="show-block bg-white">

  <div class="relative">
      <div class="imageblur" style="background-image:url(<%= @game.thumbnail %>);background-size:cover;"></div>
      <div class="bglayer"></div>
      <div class="p3 clearfix relative info container">

          <h3 class="mt0 mb0 title">
            <a class="white" href="<%= @game.link %>" target="_blank"><%= @game.title %></a>
          </h3>

          <p class="col-9"><%= @game.description %></p>

          <%= div_for(@game, :vote) do %>
            <%= render partial: 'upvotes/upvote', locals: { game: @game } %>
          <% end %>
          <a href="<%= @game.link %>" target="_blank"><%= icon 'link' %> <%= @game.link %></a>

          <ul class="list-reset platform-list">
            <% @game.platform_list.each do |platform| %>
              <li><%= platform %>
            <% end %>
          </ul>

            <div class="game-posted clearfix">
              <div class="left">
                <p class="mb0">POSTED</p>
                <p class="mb0"><%= time_ago_in_words(@game.created_at) %> ago</p>
              </div>
              <div class="left ml1">
                <%= avatar_for(@game.user, 'small') %>
              </div>

            </div>

      </div>
  </div>

  <div class="container">

    <% if @game.cached_votes_up > 0 %>
        <h5 class="small-header mb2 mt2"><%= pluralize @game.cached_votes_up, 'upvote' %></h5>
        <ul class="list-reset clearfix mxn1" style="margin-top:-.5rem;margin-bottom:-.5rem">
          <% @game.votes_for.up.each do |vote| %>
            <li class="left ml1">
              <%= avatar_for(vote.voter, 'small') %>
            </li>
          <% end %>
        </ul>
    <% end %>

    <hr>


    <div class="clearfix">

        <div class="col col-9 mb4">
          <h5 class="small-header mb2"><%= pluralize @game.comments_count, 'comment' %></h5>
          <%= render partial: 'comments/form', locals: {comment: Comment.new, parent: nil} %>
          <% @comments.each do |comment| %>
            <div class="mb2 mt2">
              <%= render partial: 'comments/comment', locals: {comment: comment} %>
            </div>
          <% end %>
        </div>

    </div>

  </div>

</div>

<% if @related_games.any? %>

<div class="bg-black related-games">
  <h3 class="header py1">More Games</h3>
  <div class="block clearfix container">
    <% @related_games.each do |related_game| %>
      <div class="col col-4 px3 relative">
        <a class="link" href="<%= game_path(related_game) %>">
          <img class="thumbnail" src="<%= related_game.thumbnail %>">
          <p class="title col-12"><%= related_game.title %>  <span class="right rg-votes">▲ <%= related_game.cached_votes_up %></span></p>
        </a>
      </div>
    <% end %>
  </div>
</div>

<% end %>
