<%= render 'ui/navbar' %>

<div class="container py3">


  <div class="bg-white">
    <div class="p3 bg-dark-gray mid-gray clearfix rounded-top">

      <div class="left mr3">
        <%= render partial: 'upvotes/upvote', locals: { game: @game } %>
      </div>

      <div class="overflow-hidden">
        <h3 class="mt0 mb0">
          <a class="white" href="<%= @game.link %>"><%= @game.title %></a>
        </h3>
        <!-- <img src="<%= @game.thumbnail %>"> -->
        <p class="light-gray"><%= @game.description %></p>

        <%= icon 'link' %> <%= @game.link %>
      </div>
    </div>

    <div class="px3 py2 border-bottom mid-gray">
      <div class="clearfix">
        <div class="left mr1">
          <%= avatar(user: User.find(101)) %>
        </div>
        <div class="left">
          posted <%= time_ago_in_words(@game.created_at) %>
        </div>
      </div>
    </div>

    <% if @game.videos.any? %>
      <div class="px3 py2">
        <p class="light-gray mb2">Related links</p>

        <div class="clearfix overflow-hidden mxn3" style="height:10rem;width:80rem;margin-left:-1px">
          <div style="overflow-x:scroll;width:auto">
            <% @game.videos.each do |video| %>
              <div class="inline-block" style="margin-left:1px">
                <%= render partial: 'videos/video', locals: { video: video } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @game.cached_votes_up > 0 %>
      <div class="px3 py2">
        <p class="light-gray mb2"><%= pluralize @game.cached_votes_up, 'upvote' %></p>
        <% @game.votes_for.up.each do |vote| %>
          <%= avatar(user: vote.voter) %>
        <% end %>
      </div>
    <% end %>


    <div class="px3 py2">
      <p class="light-gray mb2"><%= pluralize @game.comments_count, 'comment' %></p>


      <% if signed_in? %>
        <%= form_for [@game, @comment], html: {class: 'form clearfix mb2'} do |f| %>
          <div class="clearfix">
            <div class="left mr2">
              <%= avatar(user: current_user) %>
            </div>
            <div class="overflow-hidden">
              <%= f.text_area :content, class: 'field-light block full-width mb2', rows: 2 %>
            </div>
          </div>

          <div class="right right-align">
            <%= f.button 'Comment', class: 'button-blue' %>
          </div>
        <% end %>
      <% end %>

      <% @game.comments.each do |comment| %>
        <div class="mb2">
          <%= render partial: 'comments/comment', locals: {comment: comment} %>
        </div>
      <% end %>
    </div>

  </div>
</div>
