<section class="bg-white filter-bar">
  <div class="container clearfix">

    <div class="left">
      <ul class="list-reset clearfix m0 py2">
        <li class="left mr3">
          <%= link_to "Weekly", games_path, :class => 'link py2' + (params[:view] ? "" : " selected") %>
        </li>
        <li class="left">
          <%= link_to "Daily", games_path(view: "daily"), :class => 'link py2' + (params[:view] ? " selected" : "") %>
        </li>
      </ul>
    </div>

    <div class="left ml3">
      <div class="select">
      <%= form_tag games_path, method: :get do %>
        <%= select_tag "platform", options_from_collection_for_select(@platforms, "name", "name", params[:platform]), {:onchange => "this.form.submit();", :include_blank => 'Platform', :index => nil} %>
      <% end %>
      </div>
    </div>

    <div class="right">
      <ul class="list-reset clearfix m0 py2">
        <li>
          <%= link_to image_tag('twitter_logo.png'), 'http://twitter.com/GamamiaPlaylist', :class => 'icon p1', target: :blank, title: 'Follow @GamamiaPlaylist on Twitter!' %>
        </li>
      </ul>
    </div>



  </div>
</section>
