<header class="nav-block">
  <div class="container clearfix">

    <div class="left logo-bar">
      <a class="clearfix block" href="<%= root_path %>">

        <div class="left mr2">
          <%= image_tag 'Gamamia_Logo_Square.png', :class => 'image' %>
        </div>
        <div class="overflow-hidden textbox">
          <h1 class="text mt1 mb0">Gamamia</h4>
          <p class="caption mb0">Find, share, and discuss indie games</p>
        </div>

      </a>

    </div>

    <div class="right">

      <ol class="list-reset clearfix m0 nav-bar">

        <li class="left">
          <a class="block p1" href="<%= new_game_path %>">Submit</a>
        </li>

        <% if user_is_admin? %>
          <li class="left">
            <%= link_to 'Admin' , admin_games_path, class: 'block p1' %>
          </li>
        <% end %>

        <li class="left">
          <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'block p1') %>
          <% else %>
            <%= link_to('Login', user_omniauth_authorize_path("twitter"), class: 'block p1 logtext') %>
          <% end %>
        </li>
      </ol>

    </div>

  </div>
</header>

<% if flash[:notice] -%>
  <p class='error blue center mt0'><%=h flash[:notice] %></p>
<% end -%>


<% if flash[:error] -%>
  <p class='error red center mt0'><%=h flash[:error] %></p>
<% end -%>
