<div class="bg-white">
  <div class="clearfix">

    <div class="left logo-bar">
      <a class="clearfix block" href="<%= root_path %>">

        <div class="left h2 mr2 red">
          <%= image_tag 'Gamamia_Logo.png', :class => 'logo' %>
        </div>
        <div class="overflow-hidden textbox">
          <h1 class="logotext mb0">Gamamia</h4>
          <p class="logocaption">Find, share, and discuss indie games</p>
        </div>

      </a>

    </div>

    <div class="right">

      <ol class="list-reset clearfix mr4 mt2 nav-bar">

        <li class="left">
          <a class="block p1" href="<%= new_game_path %>"><%= image_tag 'Line.svg', :class => 'addicon' %></a>
        </li>

        <% if user_is_admin? %>
          <li class="left">
            <%= link_to 'Admin' , admin_games_path, class: 'block p1 logtext' %>
          </li>
        <% end %>

        <li class="left">
          <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'block p1 logtext') %>
          <% else %>
            <%= link_to('Login', user_omniauth_authorize_path("twitter"), class: 'block p1 logtext') %>
          <% end %>
        </li>
      </ol>

    </div>

  </div>
</div>

<% if flash[:error] -%>
  <p class='error red center mt2'><%=h flash[:error] %></p>
<% end -%>