<div class="bg-white">
  <div class="container clearfix py2">

    <div class="left">
      <div class="clearfix">

        <div class="left h2 mr2 red">
          <%= render 'ui/icon', icon: 'gamepad' %>
        </div>
        <div class="overflow-hidden">
          <h4 class="mt0 mb0">Gamamia</h4>
          <p class="mb0 mid-gray">Find, share, and discuss indie games</p>
        </div>

      </div>

    </div>

    <div class="right">

      <ol class="list-reset clearfix mxn1 mb0">

        <% if user_is_admin? %>
          <li class="left">
            <%= link_to 'Admin' , admin_games_path, class: 'block p1 red' %>
          </li>
        <% end %>

        <li class="left">
          <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'block p1') %>
          <% else %>
            <%= link_to('Login', user_omniauth_authorize_path("twitter"), class: 'block p1') %>
          <% end %>
        </li>
        <li class="left">
          <a class="block p1" href="<%= new_admin_game_path %>"><%= render 'ui/icon', icon: 'plus' %></a>
        </li>
      </ol>

    </div>

  </div>
</div>
