<!DOCTYPE html>
<html>
  <head>
    <title>Gamamia</title>
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.2.4/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon-152.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="msapplication-TileColor" content="#F45B5E">
    <meta name="msapplication-TileImage" content="favicon-152.png">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <a class="mt4" style="text-align: center; display: block;" href='https://assembly.com/product_slug?utm_campaign=assemblage&utm_source=product_slug&utm_medium=flair_widget&utm_content=light_banner'><img src='https://treasure.assembly.com/assets/badges/light_badge-6b1ce515b232b45b406bf454f7242678.svg' width=243px height=34px /></a>
    <%= javascript_include_tag 'application' %>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </body>
  <%= render 'shared/analytics' %>
</html>
